body{
  background-color: rgb(59, 100, 138);
  }
  .container
  {
    max-width: 500px;
   height: 100%;
    margin: 0 auto;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 3%;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(185, 232, 248);
  background-color: rgb(125, 188, 228);
  color: white;
  }
  .heading
  {
    font-size: 35px;
    font-family: jost;
    color:rgb(43, 63, 104)
    
  }
  .search
  {
    margin: 10px;
    padding: 10px;
    width: 60%;
    border-radius: 40px;
    border-color: rgb(93, 93, 250);
  }
  .city
  {
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  .temp_minmax
  {
    font-size: 21px;
    color: rgb(43, 43, 43);
    font-family:jost;
  }